In [124]:
import MySQLdb
import pandas as pd
import numpy as np

In [152]:
#from sklearn.svm import SVC
#from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.externals import joblib
import warnings
warnings.filterwarnings("ignore")

In [125]:
conn = MySQLdb.connect("localhost","ryan","mark50","dyslexia" )
c = conn.cursor()

In [126]:
# prime_key=1
# c.execute('SELECT * FROM quiz WHERE pk = %s',(prime_key,))
# dataquiz = c.fetchall()
# dataquiz

In [127]:
# c.execute('SELECT * FROM survey WHERE pk = %s',(prime_key,))
# datasurvey = c.fetchall()
# datasurvey

In [128]:
dfquiz = pd.read_sql_query("select * from quiz;", conn)
dfsurvey = pd.read_sql_query("select * from survey;", conn)

In [129]:
#df = dfsurvey.drop(['name'],axis=1)

In [130]:
#df = df.add_prefix('Survey')

In [131]:
result = pd.merge(dfquiz, dfsurvey, on=['pk', 'name'], suffixes=['_quiz', '_survey']) #this will have complete reuslt

In [132]:
#user specific results in the session
temp = result[result.pk == prime_key]

In [133]:
temp

,pk,name,mone_quiz,mtwo_quiz,mthree_quiz,mfour_quiz,mfive_quiz,msix_quiz,mseven_quiz,meight_quiz,...,meleven,mtwelve,mthirteen,mfourteen,mfifteen,msixteen,mseventeen,meighteen,mnineteen,mtwenty
0,1,aryan,4,0,0,4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [134]:
temp1 = temp.drop(['name','pk'],axis=1)

In [135]:
temp1

,mone_quiz,mtwo_quiz,mthree_quiz,mfour_quiz,mfive_quiz,msix_quiz,mseven_quiz,meight_quiz,mnine_quiz,mten_quiz,...,meleven,mtwelve,mthirteen,mfourteen,mfifteen,msixteen,mseventeen,meighteen,mnineteen,mtwenty
0,4,0,0,4,0,0,0,0,0,4,...,0,0,0,0,0,0,0,0,0,0

In [136]:
marksdf = pd.DataFrame(columns=(['Language_vocab', 'Memory', 'Speed','Visual_discrimination',
       'Audio_Discrimination', 'Survey_Score']) )

In [137]:
marksdf.Language_vocab = (temp1.mone_quiz+temp1.mtwo_quiz+temp1.mthree_quiz+temp1.mfour_quiz+temp1.mfive_quiz+temp1.msix_quiz+temp1.meight_quiz)/24

In [138]:
marksdf.Visual_discrimination = (temp1.mone_quiz+temp1.mthree_quiz+temp1.mfour_quiz+temp1.msix_quiz)/16

In [139]:
marksdf.Memory = (temp1.mtwo_quiz+temp1.mnine_quiz)/8

In [140]:
marksdf.Audio_Discrimination = (temp1.mseven_quiz+temp1.mten_quiz)/8

In [141]:
marksdf.Speed = np.random.uniform(0,1)

In [142]:
marksdf

,Language_vocab,Memory,Speed,Visual_discrimination,Audio_Discrimination,Survey_Score
0,0.333333,0.0,0.329637,0.5,0.5,NaN

In [143]:
surevy_col =['mone_survey', 'mtwo_survey', 'mthree_survey', 'mfour_survey',
       'mfive_survey', 'msix_survey', 'mseven_survey', 'meight_survey',
       'mnine_survey', 'mten_survey', 'meleven', 'mtwelve', 'mthirteen',
       'mfourteen', 'mfifteen', 'msixteen', 'mseventeen', 'meighteen',
       'mnineteen', 'mtwenty']

In [144]:
marksdf.Survey_Score = temp1[surevy_col].sum(axis=1)/80

In [145]:
marksdf

,Language_vocab,Memory,Speed,Visual_discrimination,Audio_Discrimination,Survey_Score
0,0.333333,0.0,0.329637,0.5,0.5,0.0

In [146]:
def model(data):
    print("loading model")
    pipeline = joblib.load('transform_predict.joblib')
    
    print('Done')
    
    predictions = pipeline.predict(data)
    
    return predictions[0]

In [151]:
model(marksdf)

loading model
Done

1.0